@CHARSET "UTF-8";

@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");

body {
  font-family: 'Noto Sans KR', '맑은 고딕', sans-serif;
  font-size: small;
}

body>.container {
  width: 600px;
  margin: auto;
}

.container>h1 {
  padding: 60px 0 20px 15px;
}

.form-horizontal {
  padding: 30px 40px;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  height: 375px;
}

.col-sm-2 {
  width: 26.63%;
  font-size: 1.2em;
}

.btn_confirm {
  margin-top: 35px;
  display: block;
  padding: 12px 0;
  border-radius: 4px;
  background: #e62a4a;
  color: #fff;
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
}

.btn_confirm:hover, .btn_confirm:focus {
  color: #fff !important;
  text-decoration: none;
}