@CHARSET "UTF-8";

body {
  font-family: '맑은 고딕', sans-serif;
  font-size: small;
}

div.modal-header button {
  margin-top: -6px !important;
}

div.modal-header > h2 {
  text-align: center;
  font-weight: bold;
  margin: 15px 0;
}

label.control-label {
  font-size: 1.2em;
  position: relative;
  bottom: 3px;
  left: 5px;
}

div.account {
  margin-top: 6px;
  margin-left: 113px;
}

div.modal-footer {
  text-align: center;
}

.btn-primary {
  color: #fff;
  background-color: #f32e6d;
  border-color: #f32e6d;
}

.btn-primary:hover {
  color: #fff;
  background-color: #c10b45;
  border-color: #c10b45;
}

.btn-primary:active, .btn-primary:focus {
  color: #fff !important;
  background-color: #a90a3c !important;
  border-color: #a90a3c !important;
}

.fileinput-remove, .file-upload-indicator, .kv-file-upload, .kv-file-zoom {
  display: none
}

#file-selector {
  text-align: center
}

div.radio {
  padding-top: 6px !important;
  margin-left: 115px;
}

label.radio-inline {
  padding-top: 0 !important;
}