@CHARSET "UTF-8";

@import url( "http://fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
/* body {background-image:url(http://cloudkid.com/content/uploads/2014/09/Snow.gif); background-color:transparent;} */

@font-face {
  font-family: 'BaeMinJua';
  src: url('../font/BMJUA_ttf.ttf'),
       url('../font/BMJUA_otf.otf');
}

body {
  font-family: 'Noto Sans KR', '맑은 고딕', sans-serif;
  font-size: small;
}

body>.container {
  width: 960px;
  margin: auto;
}

.form-control:focus {
  border-color: rgba(51, 51, 51, 0.41);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #080808;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #333;
}

/* 헤더 시작 */
.menu-bars:before {
  content: "\f0c9";
  font-size: 33px;
  display: inline-block;
  margin-top: 13px;
}

.animate {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-fixed-left {
  display: inline-block;
  top: 46px;
  left: 0px;
  border-radius: 0px;
}

.navbar-minimal {
  width: 60px;
  min-height: 60px;
  max-height: 100%;
  background-color: rgb(243, 46, 109);
  background-color: rgba(243, 46, 109, 0.8);
  border-width: 0px;
  z-index: 1000;
}

.navbar-minimal>.navbar-toggler {
  position: relative;
  min-height: 60px;
  border-bottom: 1px solid white;
  z-index: 100;
  cursor: pointer;
}

.navbar-minimal.open>.navbar-toggler, .navbar-minimal>.navbar-toggler:hover
  {
  background-color: #f32e6d;
}

.navbar-minimal>.navbar-toggler>span {
  position: absolute;
  top: 50%;
  right: 50%;
  margin: -8px -8px 0 0;
  width: 16px;
  height: 16px;
  background-image:
    url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjIuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjMycHgiIHZpZXdCb3g9IjAgMCAxNiAzMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTYgMzIiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iI0ZGRkZGRiIgZD0iTTEsN2gxNGMwLjU1MiwwLDEsMC40NDgsMSwxcy0wLjQ0OCwxLTEsMUgxQzAuNDQ4LDksMCw4LjU1MiwwLDgKCVMwLjQ0OCw3LDEsN3oiLz4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiNGRkZGRkYiIGQ9Ik0xLDEyaDE0YzAuNTUyLDAsMSwwLjQ0OCwxLDFzLTAuNDQ4LDEtMSwxSDFjLTAuNTUyLDAtMS0wLjQ0OC0xLTEKCVMwLjQ0OCwxMiwxLDEyeiIvPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iI0ZGRkZGRiIgZD0iTTEsMmgxNGMwLjU1MiwwLDEsMC40NDgsMSwxcy0wLjQ0OCwxLTEsMUgxQzAuNDQ4LDQsMCwzLjU1MiwwLDMKCVMwLjQ0OCwyLDEsMnoiLz4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiNGRkZGRkYiIGQ9Ik0xLjMzLDI4Ljk3bDExLjY0LTExLjY0YzAuNDU5LTAuNDU5LDEuMjA0LTAuNDU5LDEuNjYzLDAKCWMwLjQ1OSwwLjQ1OSwwLjQ1OSwxLjIwNCwwLDEuNjYzTDIuOTkzLDMwLjYzM2MtMC40NTksMC40NTktMS4yMDQsMC40NTktMS42NjMsMEMwLjg3MSwzMC4xNzQsMC44NzEsMjkuNDMsMS4zMywyOC45N3oiLz4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiNGRkZGRkYiIGQ9Ik0yLjk5MywxNy4zM2wxMS42NDEsMTEuNjRjMC40NTksMC40NTksMC40NTksMS4yMDQsMCwxLjY2MwoJcy0xLjIwNCwwLjQ1OS0xLjY2MywwTDEuMzMsMTguOTkzYy0wLjQ1OS0wLjQ1OS0wLjQ1OS0xLjIwNCwwLTEuNjYzQzEuNzg5LDE2Ljg3MSwyLjUzNCwxNi44NzEsMi45OTMsMTcuMzN6Ii8+Cjwvc3ZnPgo=);
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transition: -webkit-transform .3s ease-out 0s;
  -moz-transition: -moz-transform .3s ease-out 0s;
  -o-transition: -moz-transform .3s ease-out 0s;
  -ms-transition: -ms-transform .3s ease-out 0s;
  transition: transform .3s ease-out 0s;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.navbar-minimal>.navbar-menu {
  position: absolute;
  top: -1000px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  list-style: none;
  z-index: 50;
  background-color: #f32e6d;
  background-color: rgba(243, 46, 109, 0.8);
}

.navbar-minimal>.navbar-menu>li {
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  height: 54px;
}

.navbar-minimal>.navbar-menu>li>a {
  position: relative;
  display: inline-block;
  color: rgb(255, 255, 255);
  padding: 20px 23px;
  text-align: left;
  cursor: pointer;
  border-bottom: 1px solid white;
  width: 100%;
  text-decoration: none;
  margin: 0px;
}

.navbar-minimal>.navbar-menu>li>a:last-child {
  border-bottom-width: 0px;
}

.navbar-minimal>.navbar-menu>li>a:hover {
  background-color: #f32e6d;
}

.navbar-minimal>.navbar-menu>li>a>.glyphicon {
  float: right;
}

.navbar-minimal.open {
  width: 320px;
}

.navbar-minimal.open>.navbar-toggler>span {
  background-position: 0 -16px;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.navbar-minimal.open>.navbar-menu {
  top: 60px;
  width: 100%;
  min-height: 100%;
}

@media ( min-width : 768px) {
  .navbar-minimal.open {
    width: 60px;
  }
  .navbar-minimal.open>.navbar-menu {
    overflow: visible;
  }
  .navbar-minimal>.navbar-menu>li>a>.desc {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 130px;
    margin-top: -20px;
    margin-left: 20px;
    text-align: left;
    white-space: nowrap;
    padding: 10px 13px;
    border-width: 0px !important;
    background-color: #f32e6d;
    background-color: rgba(243, 46, 109);
    opacity: 0;
  }
  .navbar-minimal>.navbar-menu>li>a>.desc:after {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: -10px;
    margin-top: -10px;
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #f32e6d;
    border-right-color: rgba(243, 46, 109);
  }
  .navbar-minimal>.navbar-menu>li>a:hover>.desc {
    left: 60px;
    opacity: 1;
  }
}

.header-wrap>.search-bar {
  display: inline;
  position: absolute;
  padding-top: 42px;
  height: 47px;
  top: 52px;
  right: 36.5%;
  border-bottom: 5px solid #f54e83;
}

#header {
  border-bottom: 1px solid #e6e6e6;
}

.header-menu-a {
  text-decoration: none !important;
  font-size: 1.3em;
  color: rgba(0, 0, 0, 0.81);
  display: inline-block;
}

.header-menu-a.black {
  color: black;
}

.communicate {
  background-color: #fff;
  bottom: 0;
  width: 340px;
  height: 515px;
  position: fixed;
  margin: inherit;
  right: 6%;
  z-index: 300;
  display: none;
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, .5);
}

.nickname-search {
  padding: 3.5%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.22);
  display: inline-block;
  width: 100%;
}

.search-btn:before {
  content: "\e003";
  font-family: 'Glyphicons Halflings';
  font-size: 1.7em;
  color: #000;
}

.search-btn {
  display: block;
  float: left;
}

.search-input {
  float: left;
  margin-left: 4%;
  width: 79%;
}

.find-friends {
  padding: 34% 16%;
  color: #000;
}

.member > span {
	margin-left:5px; 
	font-size:15px; 
	position:relative; 
	top:7px;
}

.member:hover {
	cursor: pointer;
}
.member > img {
	margin-left:22px;
	margin-top:10px;
}

.icon-comment-empty {
	margin-left:33px;
	margin-top: -224px;
}

#clean-desc {
	margin-top:12px;
	text-align:center;
}
#textarea {
	margin-top:9px;
	position:absolute;
	z-index:20;
	height:80px;
	width:250px;
	resize:none;
	outline:none;
	border:0; 
	margin-left:8px;
}

.textbox > div {
	display: inline-block;
	width:340px;
	height:92px;
	position:absolute;
	bottom:0;
	border-top:1px solid rgba(0,0,0,0.22);
}

.textline > button {
	margin-top:29px;
	margin-left:271px;
}

.member {
	height:60px; 
	width:340px; 
	border-bottom:1px solid rgba(0,0,0,0.22);
}

.icon-comment-empty:before {
  font-size: 9.4em;
}

.find-friends>span {
  font-size: 1.2em;
}

.header-wrap>a:hover {
  color: rgba(0, 0, 0, 0.81);
}

.icon-hammer:before {
  content: '\e807';
  font-family: fontello;
  font-size: 1.4em;
}

#icon-user-circle-o:before {
  content: '\f2be';
  font-family: fontello;
  font-size: 1.4em;
}

#icon-edit:before {
  content: '\e808';
  font-family: fontello;
  font-size: 1.4em;
}

.icon-hammer, #icon-user-circle-o, #icon-edit, #logon-img, #icon-logout{
  display: inline-block;
  margin-left: 11px;
}

.btns {display: inline;position: absolute;top: 60px;right: 10px;}

@media (max-width: 1217px) {
  .header-wrap {
    width: auto !important;
  }
}

.search-bar>div {
  margin-top: -37px;
}

/* ::-webkit-input-placeholder { WebKit, Blink, Edge
  color: #f32e6d;
}

:-moz-placeholder { Mozilla Firefox 4 to 18
  color: #f32e6d;
  opacity: 1;
}

::-moz-placeholder { Mozilla Firefox 19+
  color: #f32e6d;
  opacity: 1;
}

:-ms-input-placeholder { Internet Explorer 10-11
  color: #f32e6d;
}
*/

.header-wrap {
  color: #f32e6d;
  margin: -25px auto 50px auto;
  width: 1200px;
  height: 75px;
  position: relative;
}

#logon-img {
  width: 26px;
  height: 26px;
  position: relative;
  top: -2px;
}

#logon-nick-name {
  color: #2f2f2f;
  font-size: 1.2em;
}

#icon-logout:before {
  content: '\e809';
  font-family: fontello;
  font-size: 1.4em;
}

#logout-state, #logon-state {
  display: none;
}

#logon-img, #logon-nick-name {
  cursor: pointer
}

#searchTitle {
  width: 297px;
  font-size: 1.5em;
  font-weight: bold;
  color: #291119;
  border: 0;
  outline: none;
}

.glyphicon-search {
  font-size: 2em;
  color: #f32e6d;
  top: 5px;
  right: 4px;
  position: relative;
}

#main-title {
  display: inline-block;
  position: relative;
  top: 8px;
  left: 5px;
  font-family: BaeMinJua;
  font-size: 3.2em;
  cursor: pointer;
}

/* input type number 화살표 버튼 없애기 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* 헤더 끝 */

/* 경매등록 */
#add-header button {
  margin-top: -6px !important;
}

#add-header > h2 {
  text-align: center;
  font-weight: bold;
  margin: 15px 0;
  color: #000;
}

#add-body label {
  font-size: 1.2em;
  position: relative;
  bottom: 3px;
  left: 5px;
  width: 16.66666667%;
}

#add-footer {
  text-align: center;
}

#add-footer > .btn-primary, .file-input > .btn-primary{
  color: #fff;
  background-color: #f32e6d;
  border-color: #f32e6d;
  float: none;
}

#add-footer > .btn-primary:hover, .file-input > .btn-primary:hover {
  color: #fff;
  background-color: #c10b45;
  border-color: #c10b45;
}

#add-footer > .btn-primary:active, #add-footer > .btn-primary:focus,
.file-input > .btn-primary:active, .file-input > .btn-primary:focus {
  color: #fff !important;
  background-color: #a90a3c !important;
  border-color: #a90a3c !important;
}

.file-actions {
  display: none
}

#file-selector {
  text-align: center;
}

#deal {
  padding-top: 6px !important;
  margin-left: 115px;
}

#deal > label.radio-inline {
  padding-top: 0 !important;
}

textarea.form-control + div.popover {
  top: 0 !important;
}

#cancel-btn {
  float: none;
}

.add-error-text {
  color: #f32e6d;
  display: block;
  height: 15px;
  padding-left: 5px;
  font-size: 1.1em;
}

#titl {
  margin-bottom: 0px;
}

#counter {
  position: absolute;
  bottom: 18px;
  right: 35px;
  font-size: 1.2em;
  color: #8f8f8f;
  font-weight: 300;
}

#buy {
  margin-bottom: 0px;
  background-color: #fff;
}

#add #add-btn {
  pointer-events: none;
  opacity: .65;
}

.fileinput-remove {
  display: none;
}

#day-year, #day-date {
  text-align: right;
  padding-right: 24px;
}

#day-year+span {
  width: 244px;
}

#day-month {
  padding-right: 33px;
  text-align: right;
}

.add-input > .date {
  position: absolute;
  top: 8px;
  right: 24px;
}
/* 경매등록 */

/* sweet-alert */
.sweet-alert {
  font-family: 'Noto Sans KR';
  margin-left: -239px;
}

.sweet-alert .sa-icon.sa-success {
    border-color: rgba(243, 46, 109, 0.38);
}

.sweet-alert .sa-icon.sa-success .sa-line {
    background-color: rgb(243, 46, 109);
}

.sweet-alert .sa-icon.sa-success .sa-placeholder {
    border: 4px solid rgba(243, 46, 109, 0.38);
}
/* 채팅 */
.chatByme {
	text-align: right;
	margin-right: -40px;
}

 .chat {
	  width: 323px;
	  height: 358px;
	  overflow-y: auto;
	  margin-left: -42px;
	  margin-top: 5px;
	  padding-right: 44px;
} 
/* 채팅 끝 */
