@CHARSET "UTF-8";

body {
  font-family: '맑은 고딕', sans-serif;
  font-size: small;
}

div.modal-dialog {
  width: 900px !important;
  margin: 30px auto;
}

div.modal-head h1 {
  font-weight: bolder;
  text-align: center;
  color: #f32e6d;
}

div.modal-head button {
  margin: -6px 20px 0px -35px;
}

div.modal-body {
  height: 450px;
  border-bottom: 1px solid #d9d9d9;
}

#carousel-example-generic {
  width: 400px;
  height: auto;
  float: right;
  margin-right: 15px;
}

div.bid-content {
  margin-left: 15px;
}

div.title {
  width: 405px;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

div.title span {
  font-size: 2em;
  width: 305px;
  float: left;
  margin-top: -9px;
}

div.title img {
  width: 25px;
  height: 25px;
  margin-left: 5px;
}

dl.dl-horizontal {
  font-size: 1.1em;
  display: table;
  width: 405px;
  height: auto;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #D0D0D0;
}

dt.term {
  margin-top: 15px;
  float: left;
  text-align: left;
  width: 80px;
}

dd.desc {
  margin-left: 0px;
}

span.present_num {
  float: left;
  font-size: 2em;
  font-weight: bold;
  color: #f32e6d;
}

div.startprice {
  margin-left: 10px;
  margin-top: 15px;
  padding-left: 10px;
  float: left;
  background: url("../image/ulline.gif") no-repeat 0 40%;
}

div.ddvalue {
  margin-top: 15px;
}

#record {
  margin-left: 10px;
}

#bid-btn {
  display: table;
  margin: 40px auto;
}

.btn-primary {
  color: #fff;
  background-color: #f32e6d;
  border-color: #f32e6d;
}

.btn-primary:hover {
  color: #fff;
  background-color: #c10b45;
  border-color: #c10b45;
}

.btn-primary:active, .btn-primary:focus {
  color: #fff !important;
  background-color: #a90a3c !important;
  border-color: #a90a3c !important;
}

div.modal-footer {
  text-align: left;
}

div.detail-info {
  margin: 0px 0px 20px 15px;
}

div.detail-info span {
  font-size: 2em;
}

div.sellrcontents {
  margin-top: 5px;
  margin-left: 15px;
  font-size: 1.1em;
}