@CHARSET "UTF-8";

.container {
  visibility: hidden;
}

.nav {
  text-align: center;
}

#nb-countdown, #remains {
  display: inline-block;
  font-weight: bold;
  font-size: 5em;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 12px;
  color: #f32e6d;
}

.detail-info, .relation, .question {
  padding: 30px 0px 20px 0px;
}

.detail-info span, .relation>span, .question>span {
  font-size: 2.5em;
  font-weight: 300;
  margin-bottom: 20px;
}

.detail-info span, .relation>span {
  display: inherit;
}

.question>span {
  display: inline-block;
}

.sellrcontents {
  padding-left: 22px;
  padding-bottom: 18px;
  font-size: 1.2em;
  font-weight: 300;
  div {      width: 200px;
  word-wrap: break-word;  }
  div {      width: 200px;
  word-wrap: break-word;  }
  div {      width: 200px;
  word-wrap: break-word;  }
  div {      width: 200px;
  word-wrap: break-word;  }
  div {      width: 200px;
  word-wrap: break-word;  }
  div {      width: 200px;
  word-wrap: break-word;  }
  div {      width: 200px;
  word-wrap: break-word;  }
  div {      width: 200px;
  word-wrap: break-word;  }
  background-color: white;
  word-wrap: break-word;
}

.nb-img0, .nb-img1, .nb-img2, .nb-img3 {
  cursor: pointer;
}

.carousel-indicators > li {
  border: 1px solid #c4c5c8;
}

#detail-photo {
  float: right;
}

#detail-imgs > .item > img {
  margin: 0 auto;
  height: 382px;
}

.carbox {
    margin-bottom: 20px;
    border-radius: 9px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
}

.carbox-read-more {
    text-decoration: none !important;
    padding-top: 10px;
    font-weight: 900;
    font-size: 2.5em;
    color: #f32e6d;
    text-align: center;
}

#next-bid-photos {
    padding: 9px;
    height: 48%;
}

.item-img {
    height: 200px !important;
    margin: auto auto;
    object-fit: contain;
}

.carbox-content {
    padding: 15px;
    text-align: left;
}

.social-btns2 {
    text-align: center;
    margin-bottom: 23px;
}

.carbox-title {
    font-weight: 700;
    font-size: 1.65em;
    text-align: center;
}

.next-horizontal {
    margin-bottom: 0px;
}

.stp-text {
    margin-right: 0px;
    margin-left: 30px !important;
}

.pinktext {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 12px;
    margin-top: 12px;
    display: inline-block;
}

.black {
    margin-left: 11px;
    font-size: 1.4em;
    display: inline;
}

.auction-ends {display: none;}

#record {
  cursor: pointer;
}

/* Buttons */
.social-btns {
    text-align: center;
}

.social-btns li {
    margin: 8px;
    display: inline-block;
    vertical-align: top;
}

.social-btns2 {
    text-align: center;
    margin-bottom: 23px;
}

.social-btns2 li {
    margin: 2px;
    display: inline-block;
    vertical-align: top;
}

@-webkit-keyframes beat {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    20% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    40% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    60% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes beat {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    20% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    40% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    60% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


.social-btn-heart-bg.facebook {
    color: #3b5998;
}

.social-btn-heart-bg.twitter {
    color: #4cc4f2;
}

.social-btn-heart-bg.heart {
    color: #FF0000;
}


/* Dissolve Button */
.social-btn-dissolve {
    width: 42px;
    height: 42px;
    text-align: center;
    color: #fff;
    line-height: 42px;
    border-radius: 50%;
    display: block;
    position: relative;
}

.social-btn-dissolve2 {
    width: 35px;
    height: 35px;
    text-align: center;
    color: #fff;
    line-height: 35px;
    border-radius: 50%;
    display: block;
    position: relative;
}

.social-btn-dissolve:hover {
    color: #fff;
}

.social-btn-dissolve:hover:before {
    opacity: 0;
    -webkit-transform: scale(1.35);
    transform: scale(1.35);
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.social-btn-dissolve:before {
    background: inherit;
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.75;
    border-radius: 50%;
    -webkit-transition: none;
    transition: none;
}

.social-btn-dissolve.facebook {
    background: #3b5998;
}

.social-btn-dissolve.twitter {
    background: #4cc4f2;
}

.social-btn-dissolve.heart {
    background: #FF0000;
}

.social-btn-dissolve2:hover {
    color: #fff;
}

.social-btn-dissolve2:hover:before {
    opacity: 0;
    -webkit-transform: scale(1.35);
    transform: scale(1.35);
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.social-btn-dissolve2:before {
    background: inherit;
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.75;
    border-radius: 50%;
    -webkit-transition: none;
    transition: none;
}

.social-btn-dissolve2.facebook {
    background: #3b5998;
}

.social-btn-dissolve2.twitter {
    background: #4cc4f2;
}

.social-btn-dissolve2.heart {
    background: #FF0000;
}

.carbox {
  cursor: pointer;
  display: inline-block;
}

.glyphicon.glyphicon-heart {
    color: white !important;
}

/* Sections */
.section {
    width:500px;
    position:relative;
    padding-left:0px;
}
.section2 {
   text-align:-webdit-auto;
}

/* The Modal (background) */
#image-popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
   /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Add Animation - Zoom in the Modal */
#detail2-imgs { 
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  #modal-imgs {
    width: 100%;
  }
}

.full-screen {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#offer {
  display: inline-block;
  font-weight: 900;
  font-size: 3em;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #f32e6d;
}

#bidHistory{
  text-align: center;
  padding: 0!important;
}

#bidHistory:before{
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

#bidHistory .modal-dialog{
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#bdhsModalLabel{
  text-align: center;  font-weight: bold;  margin: 15px 0;  color: #000;
}

#bdhsTr th {
  font-size: 1.2em;
  text-align: center;
}

#pinktext {  color: #f54e83;  font-weight: 600;
}

#bidHistory .modal-body {
  font-size: 1.1em;
  text-align: center;
}

.relation {
  height: 574px;
  border-top: 1px solid #d9d9d9;
}

.question {
  border-top: 1px solid #d9d9d9;
  position: relative;
}

.animate{
  transition: all .3s;
}

input[name=question] {
    display: none;
}

input[name=question] + div > label {
    position: relative;
    display: block;
    padding: 20px 20px 20px 77px;
    font-size: 1.5em;
    cursor: pointer;
    background: rgb(255, 255, 255);
    color: rgb(154, 154, 154);
    z-index: 2;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 3px;
}

.response {
    position: absolute;
    background: rgb(230, 123, 157);
    color: rgb(230, 123, 157);
    padding: 10px 20px;
    -webkit-transform: translate3d(0,-40px, 0) rotate(-.5deg);
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    opacity: 0;
    border-radius: 3px;
}

input[name=question]:checked + div > .black-text {
    background: #ffffff;
    color: #000 !important;
}

input[name=question]:checked + div > .response {
    position: relative;
    opacity: 1;
    visibility: visible;
    padding: 10px 20px;
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
    -webkit-filter: blur(0px);
    margin-bottom: 20px;
    color: #fff;
    font-weight: 100;
    word-wrap: break-word;
}

input[name=question]:checked + div > .answer-time {
    opacity: 1;
    visibility: visible;
    padding: 10px 20px;
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
    -webkit-filter: blur(0px);
    color: #ffffff;
    float: right;
    z-index: 45;
    position: absolute;
    bottom: 1px;
    right: 0px;
    font-size: 1.2em;
    margin: 0px 17px 10px 0;
    padding: 0;
}

.fixed-height {
    height: 50px;
    overflow: hidden;
    opacity: 1 !important;
}

p.response {
  margin: 0;
  font-size: 1.3em;
}

.icon-ellipsis:before {
  content: '\f141';
  font-family: fontello;
  position: relative;
  z-index: 3;
  top: 18px;
  left: 30px;
  float: left;
  font-size: 1.2em;
  color: #9a9a9a;
}

.icon-ok:before {
  content: '\e806';
  font-family: fontello;
  position: relative;
  z-index: 3;
  top: 19px;
  left: 32px;
  color: #f32e6d;
  float: left;
}

.icon-ok+p {
  position: relative;
  z-index: 3;
  top: 33px;
  left: -2px;
  color: #000000;
  font-weight: 500;
  float: left;
}

.icon-ellipsis+p {
  position: relative;
  z-index: 3;
  top: 33px;
  left: -5px;
  color: #2f2f2f;
  font-weight: 300;
  float: left;
}

.questioner {
  position: relative;
  float: right;
  z-index: 3;
  top: 22px;
  font-size: 1.2em;
}

.question-time {
  position: relative;
  float: right;
  z-index: 3;
  top: 22px;
  font-size: 1.2em;
  margin: 0 22px 0 13px;
  padding-left: 13px;
  background: url(../image/ulline.gif) no-repeat 0 40%;
}

.answer-time {
  opacity: 0;
  padding: 10px 20px;
  color: #fff;
  float: right;
  position: absolute;
}

.question > button, .question > button:hover {
  margin-top: 11px;
  background-color: rgba(53, 53, 53, 0.52);
  color: #fff;
  position: absolute;
  right: 0;
  top: 33px;
}

.animate + div {
  position: relative;
}

.add-question, .edit-question {
  padding: 16.5px 20px 16.5px 11px;
  font-size: 1.5em;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  border-radius: 3px;
  margin-bottom: 5px;
  position: relative;
}

.add-question > input, .add-question > input:focus, .edit-question > input, .edit-question > input:focus {
  outline: none;
  border: 0;
  box-shadow: none;
  font-size: 1em;
  color: #000;
  width: 773px;
  display: inline-block;
}

#add-question-btn, #edit-question-btn {
  float: right;
  background-color: #f32e6d;
  color: #fff;
}

#cancel-q, #edit-cancel {
  float: right;
  margin-left: 10px;
}

.black-text {
  color: rgba(0, 0, 0, 0.79) !important;
}

.page {
  text-align: center;
  font-size: 2.2em;
  margin-top: 16px;
  margin-bottom: 5px;
}

.page > button, .page > button:focus, .page > button:active {
  background-color: #fff !important;
  border: #fff !important;
  color: #000 !important;
  font-size: 1.2em;
  outline: none !important;
}

.page > button:hover {
  color: #f32e6d !important;
}

#pageNo {
  position: relative;
  top: 7px;
}

#add-q {
  pointer-events: none;
  opacity: .65;
}

#errorQuestion {
  color: #f32e6d;
  height: 15px;
  padding-left: 5px;
  font-size: 0.8em;
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.icon-edit:before {
  content: '\e808';
  font-family: fontello;
  color: #000;
  font-size: 0.9em;
  cursor: pointer;
  margin-left: 6px;
}

.icon-trash-empty:before {
  content: '\e80c';
  font-family: fontello;
  color: #000;
  margin: 0px;
  position: relative;
  top: 2px;
  cursor: pointer;
}

.not-click {
  cursor: default !important;
}

.sa-button-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

.sa-button-container .cancel {
  -webkit-order: 2;
  order: 2;
}

.sa-button-container .sa-confirm-button-container {
  -webkit-order: 1;
  order: 1;
}

.icon-exclamation {
  content: '\e80a';
  font-family: fontello;
  font-size: 2.2em;
  position: relative;
}

.icon-exclamation + span {
  font-size: 2em;
}

.no-qna {
  text-align: center;
  padding: 26px;
}

.icon-reply:before {
  content: '\e80d';
  font-family: fontello;
  color: #000;
  cursor: pointer;
}

.add-answer, .edit-answer {
  padding: 16.5px 20px 16.5px 11px;
  font-size: 1.5em;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  border-radius: 3px;
  margin-bottom: 5px;
  position: relative;
}

#answer-area, #edit-answer-area {
  font-size: 1em;
  color: #000;
  z-index: 1;
  position: relative;
}

#answer-area + span, #edit-answer-area + span {
  position: absolute;
  right: 51px;
  bottom: 105px;
  color: rgba(0, 0, 0, 0.44);
  z-index: 3;
}

#answer-add, #answer-edit {
  color: #fff;
  background-color: #f32e6d;
  padding: 7px 15px;
  font-size: 1em;
  margin-right: 13px;
}

#answer-cancel, #edit-answer-cancel {
  padding: 7px 15px;
  font-size: 1em;
}

.answer-buttons {
  text-align: center;
  margin-top: 22px;
  margin-bottom: 10px;
}

.answer-edit-btn:before {
  content: '\e808';
  font-family: fontello;
  cursor: pointer;
  /* bottom: 12px; */
  /* right: 129px; */
  /* padding-top: 11px; */
  /* padding-right: 18px; */
}

#qna-search-text {
  display: inline-block;
  height: 47px;
  border: 0;
  outline: none;
  padding-top: 22px;
  font-size: 1.2em;
  width: 135px;
}

.qna-search {
  display: inline-block;
  border-bottom: 2px solid #000;
  position: relative;
  bottom: 5px;
  left: 16px;
}

.qna-search > .glyphicon-search {
  color: #000;
  font-size: 1.4em;
  top: 3px;
  right: 0px;
  cursor: pointer;
}

#answer-check, #question-check {
  opacity: 0;
  left: 2px;
  bottom: 13px;
  position: absolute;
  cursor: pointer;
  width: 18px;
  margin: 0px;
}

.answer-exist > p, .question-exist > p{
  display: inline-block;
  color: rgba(0, 0, 0, 0.74);
}

.icon-ok-circled2:before {
  content: '\e802';
  font-family: fontello;
  font-size: 1.2em;
}

.answer-exist, .question-exist {
  display: none;
  position: relative;
  left: 27px;
}

input[id="answer-check"]:checked + span, input[id="question-check"]:checked + span {
  color: #f32e6d;
}

#answer-word {
  width: 85%;
  display: inline-block;
}