@CHARSET "UTF-8";

.container {
  display: none;
}

.nav {
  text-align: center;
}

#nb-countdown, #remains {
  display: inline-block;
  font-weight: bold;
  font-size: 5em;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #f32e6d;
}

.detail-info, .relation {
  padding: 30px 0px 20px 0px;
}

.detail-info span, .relation>span {
  font-size: 2.5em;
  font-weight: 300;
  display: inherit;
  margin-bottom: 20px;
}

.sellrcontents {
  padding-left: 22px;
  padding-bottom: 18px;
  font-size: 1.2em;
  font-weight: 300;
}

.nb-img0, .nb-img1, .nb-img2, .nb-img3 {
  cursor: pointer;
}

.carousel-indicators > li {
  border: 1px solid #c4c5c8;
}

#detail-photo {
  float: right;
}

#detail-imgs > .item > img {
  margin: 0 auto;
  height: 382px;
}

.carbox {
    margin-bottom: 20px;
    border-radius: 9px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
}

.carbox-read-more {
    text-decoration: none !important;
    padding-top: 10px;
    font-weight: 900;
    font-size: 2.5em;
    color: #f32e6d;
    text-align: center;
}

#next-bid-photos {
    padding: 9px;
    height: 48%;
}

.item-img {
    height: 200px !important;
    margin: auto auto;
    object-fit: contain;
}

.carbox-content {
    padding: 15px;
    text-align: left;
}

.social-btns2 {
    text-align: center;
    margin-bottom: 23px;
}

.carbox-title {
    font-weight: 700;
    font-size: 1.65em;
    text-align: center;
}

.next-horizontal {
    margin-bottom: 0px;
}

.stp-text {
    margin-right: 0px;
    margin-left: 30px !important;
}

.pinktext {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 12px;
    margin-top: 12px;
    display: inline-block;
}

.black {
    margin-left: 11px;
    font-size: 1.4em;
    display: inline;
}

.auction-ends {display: none;}

#record {
  cursor: pointer;
}

/* Buttons */
.social-btns {
    text-align: center;
}

.social-btns li {
    margin: 8px;
    display: inline-block;
    vertical-align: top;
}

.social-btns2 {
    text-align: center;
    margin-bottom: 23px;
}

.social-btns2 li {
    margin: 2px;
    display: inline-block;
    vertical-align: top;
}

@-webkit-keyframes beat {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    20% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    40% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    60% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes beat {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    20% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    40% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    60% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


.social-btn-heart-bg.facebook {
    color: #3b5998;
}

.social-btn-heart-bg.twitter {
    color: #4cc4f2;
}

.social-btn-heart-bg.heart {
    color: #FF0000;
}


/* Dissolve Button */
.social-btn-dissolve {
    width: 42px;
    height: 42px;
    text-align: center;
    color: #fff;
    line-height: 42px;
    border-radius: 50%;
    display: block;
    position: relative;
}

.social-btn-dissolve2 {
    width: 35px;
    height: 35px;
    text-align: center;
    color: #fff;
    line-height: 35px;
    border-radius: 50%;
    display: block;
    position: relative;
}

.social-btn-dissolve:hover {
    color: #fff;
}

.social-btn-dissolve:hover:before {
    opacity: 0;
    -webkit-transform: scale(1.35);
    transform: scale(1.35);
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.social-btn-dissolve:before {
    background: inherit;
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.75;
    border-radius: 50%;
    -webkit-transition: none;
    transition: none;
}

.social-btn-dissolve.facebook {
    background: #3b5998;
}

.social-btn-dissolve.twitter {
    background: #4cc4f2;
}

.social-btn-dissolve.heart {
    background: #FF0000;
}

.social-btn-dissolve2:hover {
    color: #fff;
}

.social-btn-dissolve2:hover:before {
    opacity: 0;
    -webkit-transform: scale(1.35);
    transform: scale(1.35);
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.social-btn-dissolve2:before {
    background: inherit;
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.75;
    border-radius: 50%;
    -webkit-transition: none;
    transition: none;
}

.social-btn-dissolve2.facebook {
    background: #3b5998;
}

.social-btn-dissolve2.twitter {
    background: #4cc4f2;
}

.social-btn-dissolve2.heart {
    background: #FF0000;
}

.carbox {
  cursor: pointer;
}

/* Sections */
.section {
    width:500px;
    position:relative;
    padding-left:0px;
}
.section2 {
   text-align:-webdit-auto;
}

/* The Modal (background) */
#image-popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
   /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Add Animation - Zoom in the Modal */
#detail2-imgs { 
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  #modal-imgs {
    width: 100%;
  }
}

.full-screen {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#offer {
  display: inline-block;
  font-weight: 900;
  font-size: 3em;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #f32e6d;
}

#bidHistory {
  text-align: center;
  padding: 0!important;
}

#bidHistory:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

#bidHistory .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#bdhsModalLabel {
  text-align: center;  font-weight: bold;  margin: 15px 0;  color: #000;
}

#bdhsTr th {
  font-size: 1.2em;
}

#pinktext {  color: #f54e83;  font-weight: 600;
}

#bidHistory .modal-body {
  font-size: 1.1em;
}

.relation {
  height: 574px;
  border-top: 1px solid #d9d9d9;
}