@CHARSET "UTF-8";
/* @import url("http://maxcdn.bootstrapcdn.com/\
font-awesome/4.2.0/css/font-awesome.min.css"); */
#bid {
  width: 400px;
  top: 31%;
}

#tender-header {
  padding-bottom: 0;
  height: 135px;
}

.price {
  float: right;
  font-size: 28px;
  padding-left: 5px;
}

#l {
  padding-bottom: 10px;
  font-size: 2.2em;
  /* text-decoration: underline; */
  text-align: right;
  width: 152px;
  display: inline-block;
  color: #f32e6d;
}

.body-content {
  color: #A0A19C;
  font-size: 1.1em;
}

#tender-body .body-content1 {
  color: red;
  font-size: 1.1em;
}

#tender-footer {
  text-align: center;
}

.btn-primary1, .btn-primary1:hover {
  background-color: #f32e6d;
  color: #ffffff;
  padding: 9px 31px;
}

.btn-default1, .btn-default1:hover {
  background-color: #e5e5e5;
  padding: 9px 31px;
}

.bidding-present {
  margin-bottom: 10px;
  padding-right: 50px;
}

.bidding-present-text {
  font-size: 2.2em;
  display: inline-block;
  margin-left: 67px;
}

.bidding_present_num {
  font-size: 2.2em;
  float: right;
}

.bidding-price {
  margin-bottom: 3px;
}

.bidding-price-text {
  font-size: 2.2em;
  display: inline-block;
  width: 125px;
  margin-left: 39px;
}

.bidding-present-won {
  float: right;
  position: relative;
  top: 20px;
  right: -4px;
}

.sweet-alert .sa-icon.sa-error {
  border-color: #f32e6d;
}

.sweet-alert .sa-icon.sa-error .sa-line {
  background-color: #f32e6d;
}

.atbids1, .atbids2, .atbids3, .atbids4 {
  display: none;
  float: right;
  position: relative;
  right: 37px;
  color: red;
  font-size: 1.2em;
}