@CHARSET "UTF-8";

.user_login {
  padding: 30px 40px;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  height: 477px;
}

.container {
  display:none;
}

.user_login_sns {
  height: 100px;
}

.icon-clock:before {
  content: '\e800';
  font-family: fontello;
  font-size: 1.4em;
  float: left;
  margin-top: 1px;
}

.btn_sns {
  float: left;
  width: 30%;
  padding: 14px 0;
  border-radius: 5px;
  text-align: center;
  font-size: 1.3em;
}

.btn_kakao {
  background: #ffeb00;
  color: #000;
}

.btn_kakao>span {
  background: url(../image/ic_kakao.png) no-repeat 3px 50%;
  background-size: 19px auto;
  padding-left: 24px;
  display: inline-block;
}

.btn_naver {
  background: #1ec800;
  color: #fff;
  margin-left: 42px;
}

.btn_naver>span {
  background: url(../image/ic_naver.png) no-repeat 3px 50%;
  background-size: 19px auto;
  padding-left: 26px;
  display: inline-block;
}

.btn_facebook {
  background: #3b579d;
  color: #fff;
  margin-left: 42px;
}

.btn_facebook>span {
  background: url(../image/ic_facebook.png) no-repeat 3px 50%;
  background-size: 11px auto;
  padding-left: 21px;
  display: inline-block;
}

.btn_kakao:hover, .btn_kakao:focus {
  color: #000 !important;
}

.btn_naver:hover, .btn_naver:focus, .btn_facebook:hover, .btn_facebook:focus
  {
  color: #fff !important;
}

.icon-mail:before {
  content: '\e801';
  font-family: fontello;
  font-size: 1.4em;
  float: left;
  margin-top: 1px;
}

input[type=password] {
  margin-top: 5px;
  margin-bottom: 10px;
}

input[type=checkbox] {
  position: absolute;
  width: 89px;
  height: 19px;
  margin: 0px;
  opacity: 0;
}

.icon-ok-circled2:before {
  content: '\e802';
  font-family: fontello;
  font-size: 1.4em;
  float: left;
  margin-top: 1px;
}

.icon-ok-circled2 {
  color: #999999;
}

input[type=checkbox]:checked+span {
  color: #f32e6d;
}

.icon-ok-circled2+p {
  color: #999999;
  margin-top: 11px;
}

.btn_confirm {
  margin-top: 35px;
  display: block;
  padding: 12px 0;
  border-radius: 4px;
  background: #e62a4a;
  color: #fff;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  width: 100%;
}

.btn_confirm:hover, .btn_confirm:focus {
  color: #fff !important;
  text-decoration: none;
}

.login_help {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  margin-top: 32px;
  font-size: 1.2em;
}

.help_find {
  margin-top: 24px;
  width: 50%;
  float: left;
  text-align: center;
  color: rgba(0, 0, 0, 0.69);
}

.help_join {
  display: inline-block;
  width: 50%;
  text-align: center;
  color: rgba(0, 0, 0, 0.69);
  margin-top: 24px;
}

.icon-help-circled:before {
  content: '\e803';
  font-family: fontello;
  font-size: 1.4em;
  color: #a0a0a0;
  position: relative;
  top: 1px;
}

.icon-mail-circled:before {
  content: '\e804';
  font-family: fontello;
  font-size: 1.4em;
  margin-top: 1px;
  color: #a0a0a0;
  position: relative;
  top: 2px;
}

.help_find:hover, .help_find:focus, .help_join:hover, .help_join:focus {
  color: rgba(0, 0, 0, 0.69) !important;
  text-decoration: none;
}