@CHARSET "UTF-8";

#model-body {
  height: 400px;
  width: 100%;
}


.blank {
  width: 100%;
}

#body-solid {
  height: 717px;
  width: 500px;
  margin: 2px;
  float: left;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

 .container, .next-bidlist, .bid-current {
  display: none;
} 

.next-bodysolid {
  height: 282px;
  width: 222px;
  margin-top: 226px;
  margin-left: 62px;
  border-radius: 2px;
  display: inline-block;
  border: 1px solid gray;
}
#bidding {
  float: left;
  height: 579px;
  width: 396px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

#header_sub {
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
}

.nav {
  text-align: center;
}

.f-nav {
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #E0E0D0;
}

#blink-text {
  transition: color 200ms ease;
}

.blink {
  color: white !important;
}

#decs-content>.title>span {
  font-size: 3em;
}
   
.next-bodysolid:hover {
   border:2px solid red;
   }

.share-btn {
  margin-top: 10px;
  margin-left: -56px;
  display: inline-block;
  position: absolute;
}

.next-share {
  margin-top: 5px;
  display: inline-block;
  position: absolute;
}

#next-bidding>.next-title>span {
  display: inline-block;
  position: absolute;
  margin-top: 120px;
  margin-left: 3px;
  font-size: 2.5em;
  font-weight: bold;
}

#next-biddingtime>span {
  display: inline-block;
  margin-top: 6px;
  margin-left: 104px;
  color: red;
  font-size: 2em;
  font-weight: bold;
}

.pinkprice {
  font-size: 2em;
}

.pinktext {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 12px;
  display: inline-block;
}

.topprice {
  margin-top: 4px;
  font-size: 2.5em;
  text-align: center;
  color: #f32e6d;
  font-weight: bold;
  margin-right: 50px;
  width: 174px !important;
}

.desc-line {
  display:none;
  margin-top: 14px;
  position: relative;
  right: -19px;}

.bidding-btn {
  margin: 20px 0px 0px 136px;
  height: 55px;
  width: 178px;
  padding: 10px 16px;
  font-size: 1.8em;
  border-radius: 6px;
  color: #fff;
  background-color: #f32e6d;
  font-weight: bold;
  border: 0;
  outline: 0;
}

.nextbidding-btn {
  height: 34px;
  width: 205px;
  padding: 5px 16px;
  font-size: 1.3em;
  border-radius: 20px;
  color: #fff;
  background-color: #f32e6d;
  margin: 20px 0px 0px 364px;
  border: 0;
  outline: 0;
}

.black {
  margin-left: 1px;
  font-size: 1.4em;
  display: inline;
}

.photodesine {
  height: 24px;
  margin-left: 30px;
  display: inline;
}

#next-share>.next-photo {
  margin-left: 8px;
  margin-top: 8px;
  display: inline;
}

.next-bidlist {
  margin-top: 8%;
  text-align: center;
}

#bid-history {
  font-weight: bold;
  font-size:2.5em;
  display: block;
  margin-top: 18px;
  text-align: center;
}

.desc-record{
    padding-top: 9px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
}

/*nextlist*/
.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container-big {
   width:960px !important;
   margin:auto;
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}

.big-logo {
  width: 100px;
  margin-bottom:15px
}

h1.heading {
  font-size: 3em;
  font-weight: 900;
  margin-bottom: 25px;
}

div.heart:before {
  font-family:"FontAwesome";
  content:"\f08a";
  margin-top:10px;
  height: 150px;
  width:150px;
  color: #b1afaf;
}

.carbox {
  margin-bottom: 20px;
  border-radius: 9px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  transition: box-shadow .25s;
  cursor: pointer;
}

.carbox:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.img-carbox {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
  overflow: hidden;
}

.img-carbox img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
}

.carbox-content {
  padding:15px;
  text-align:left;
}

.carbox-title {
  font-weight: 700;
  font-size: 1.65em;
  text-align: center;
}

.carbox-title a {
  color: #000;
  text-decoration: none !important;
}

.carbox-read-more {
  text-decoration: none !important;
  padding-top: 10px;
  font-weight: 900;
  font-size: 2.5em;
  color: #f32e6d;
}

.carousel-inner {
  cursor: pointer;
}

.next-bid-photos {
  padding: 9px;
  height: 48%;
}

.next-bidlist > .container {
  padding-left: 0px;
}


.next-bid-photos > .carousel-indicators {
  margin-bottom: 0px;
  bottom: 10px;
}

.next-horizontal {
  margin-bottom: 0px;
}

.stp-text {
  margin-right: 29px;
}

.st-text {
  margin-right: 11px;
}

.carousel-indicators > li {
  border: 1px solid #c4c5c8;
}

.carousel-indicators > .active{
  width: 15px;
  height: 15px;
  margin-bottom: -1px;
}

div[data-target="#detail"] img {
  height: 382px !important;
  margin: auto auto;
  object-fit: contain;
}

.nb-imgs > .item {
  padding: 6%;
}

.start_num {
  font-size: 1.5em;
}

.pink-num {
  font-size:1.5em;
  font-weight: bold;
}

.dl-horizontal > dt.pinkprice {
  font-size:2.2em;
  margin-top:10px;
  margin-right: 50px;
  width: 174px;
}

#on-air-text {
  font-size: 2.0em;
  margin-top: 20px;
}

#on-air-text2 {
  font-size: 2.0em;
  margin-top: 20px;
  color:#e74c3c;
}

#nb-countdown {
  display:inline-block;
  font-weight: bold;
  font-size: 5em;
  margin-top: 20px;
  color:#f32e6d;
}

#remains {
  display:inline-block;
  font-weight: bold;
  font-size: 5em;
  margin-top: 20px;
  margin-left: 12px;
  color:#f32e6d;
}

#bidding {
  margin-left: 27px;
  margin-top:2px;
}

.successful-bidder-img {
  width: 64px;
  height: 64px;
  position: relative;
}

.title {
  text-align:center;
  margin-bottom: 21px;
}

.bidder-img {
  width: 26px;
  height: 26px;
}

.successful-bidder {
  font-size: 1.6em;
  position: relative;
  top: 5px;
  display: inline-block;
  width: 117px;
}

.present_num2 {
  font-size: 2.5em;
  font-weight: bold;
  color: #f32e6d;
  position: relative;
  top: 9px;
  float: right;
}

.bidder {
  position: relative;
  top: 1px;
  font-size: 1.4em;
  display: inline-block;
  width: 111px;
}

.bid-time {
  position: relative;
  font-size: 1.4em;
  display: inline-block;
  width: 87px;
}

.bid-won {
  font-size: 1.4em;
}

.won1 {
  top: 32px;
  font-size: 1.2em;
  position: relative;
  float: right;
}

.desc-line1 {
  display: none;
}

.bids-empty {
  font-size: 2em;
  display: inline-block;
}

.icon-exclamation:before {
  content: '\e80a';
  font-family: fontello;
  font-size: 2em;
}

.icon-exclamation {
  margin-left: 18px;
}

.desc-non-record {
  display: none;
  padding: 227px 35px 227px 44px;
}

.sweet-alert .sa-icon.sa-warning {
  border-color: #f32e6d;
}

.sweet-alert .sa-icon.sa-warning .sa-body {
  background-color: #f32e6d;
}

.sa-button-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

.sa-button-container .cancel {
  -webkit-order: 2;
  order: 2;
}

.sa-button-container .sa-confirm-button-container {
  -webkit-order: 1;
  order: 1;
}

#nextPgBtn {
  display: inline-block;
  padding: 10px;
  background-color: #f32e6d;
  color: #fff;
  font-size: 1.5em;
  border-radius: 24px;
  margin-bottom: 13px;
  cursor: pointer;
}

.item-img {
  height: 200px !important;
  object-fit: contain;
  margin: auto auto;
}

/* ë‹¤ìŒê²½ë§¤ ë”ë³´ê¸° ë¡œë”© */
.spinner {
  margin: 0 auto;
  width: 70px;
  text-align: center;
  display: none;
  padding: 15px 0 35px 0;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #f32e6d;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
/* ë‹¤ìŒê²½ë§¤ ë”ë³´ê¸° ë¡œë”© ë */

/* Buttons */
.social-btns {
    text-align: center;
}

.social-btns li {
    margin: 8px;
    display: inline-block;
    vertical-align: top;
}

.social-btns2 {
    text-align: center;
    margin-bottom: 23px;
}

.social-btns2 li {
    margin: 2px;
    display: inline-block;
    vertical-align: top;
}

@-webkit-keyframes beat {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    20% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    40% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    60% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes beat {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    20% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    40% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    60% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


.social-btn-heart-bg.facebook {
    color: #3b5998;
}

.social-btn-heart-bg.twitter {
    color: #4cc4f2;
}

.social-btn-heart-bg.heart {
    color: #FF0000;
}


/* Dissolve Button */
.social-btn-dissolve {
    width: 42px;
    height: 42px;
    text-align: center;
    color: #fff;
    line-height: 42px;
    border-radius: 50%;
    display: block;
    position: relative;
}

.social-btn-dissolve2 {
    width: 35px;
    height: 35px;
    text-align: center;
    color: #fff;
    line-height: 35px;
    border-radius: 50%;
    display: block;
    position: relative;
}

.social-btn-dissolve:hover {
    color: #fff;
}

.social-btn-dissolve:hover:before {
    opacity: 0;
    -webkit-transform: scale(1.35);
    transform: scale(1.35);
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.social-btn-dissolve:before {
    background: inherit;
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.75;
    border-radius: 50%;
    -webkit-transition: none;
    transition: none;
}

.icon-facebook {
	color: white !important;
}

.social-btn-dissolve.facebook {
    background: #3b5998;
}

.social-btn-dissolve.twitter {
    background: #4cc4f2;
}

.social-btn-dissolve.heart {
    background: #FF0000;
}

.glyphicon.glyphicon-heart {
	color:white !important;
}

.sb.min.facebook {
	color:white !important;
}

.social-btn-dissolve2:hover {
    color: #fff;
}

.social-btn-dissolve2:hover:before {
    opacity: 0;
    -webkit-transform: scale(1.35);
    transform: scale(1.35);
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.social-btn-dissolve2:before {
    background: inherit;
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.75;
    border-radius: 50%;
    -webkit-transition: none;
    transition: none;
}

.social-btn-dissolve2.facebook {
    background: #3b5998;
}

.social-btn-dissolve2.twitter {
    background: #4cc4f2;
}

.social-btn-dissolve2.heart {
    background: #FF0000;
}

/* Sections */
.section {
    width:500px;
    position:relative;
    padding-left:0px;
}
.section2 {
   text-align:-webdit-auto;
}

/* í˜„ìž¬ ê²½ë§¤ê°€ ì—†ì„ë•Œ */
video {
  display: none;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  filter: brightness(40%);
}

.intro {
  display:none;
  color: #fff;
  text-align: center;
  position: relative;
}

.intro > h1 {
  font-size: 3.2em;
  margin-top: 0px;
}

.intro > span {
  font-size: 1.4em;
}

.intro-addbtn {
  cursor: pointer;
  display: table;
  margin: 50px auto 0 auto;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
  color: #f54e83;
}

.intro-addbtn a, .intro-addbtn a:hover, .intro-addbtn a:focus {
  text-decoration: none;
  font-size: 1.4em;
  color: #f54e83;
}

.intro-addbtn > .icon-hammer {
  margin: 0;
  position: relative;
  top: -1px;
}