@CHARSET "UTF-8";

#model-body {
  height: 400px;
  width: 450px;
}

#body-solid {
  height: 650px;
  width: 500px;
  margin: 2px;
  float: left;
  border: 1px solid gray;
}

.next-bodysolid {
  height: 282px;
  width: 222px;
  margin-top: 226px;
  margin-left: 62px;
  border-radius: 2px;
  display: inline-block;
  border: 1px solid gray;
}
#bidding {
  float: left;
  height: 340px;
  width: 360px;
  border: 1px solid gray;
}

#header_sub {
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

.f-nav {
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #E0E0D0;
}

#blink-text {
  transition: color 200ms ease;
}

.blink {
  color: white !important;
}

#decs-content>.title>span {
  font-size: 3em;
}
	
.next-bodysolid:hover {
	border:2px solid red;
	}

.share-btn {
  margin-top: 10px;
  margin-left: -56px;
  display: inline-block;
  position: absolute;
}

.next-share {
  margin-top: 5px;
  display: inline-block;
  position: absolute;
}

#next-bidding>.next-title>span {
  display: inline-block;
  position: absolute;
  margin-top: 120px;
  margin-left: 3px;
  font-size: 2.5em;
  font-weight: bold;
}

#next-biddingtime>span {
  display: inline-block;
  margin-top: 6px;
  margin-left: 104px;
  color: red;
  font-size: 2em;
  font-weight: bold;
}

.pinkprice {
  font-size: 2em;
  text-align: center;
}

.pinktext {
  font-size: 1.4em;
  color: #f32e6d;
  font-weight: bold;
  margin-left: 13px;
  margin-top: 12px;
  display: inline-block;
}

.topprice {
  margin-top: 4px;
  font-size: 2.5em;
  text-align: center;
  color: #f32e6d;
  font-weight: bold;
}

.desc-line {
  margin-top: 17px;
}

.bidding-btn {
  margin: 20px 0px 0px 120px;
  height: 55px;
  width: 178px;
  padding: 10px 16px;
  font-size: 1.8em;
  border-radius: 6px;
  color: #fff;
  background-color: #f32e6d;
  font-weight: bold;
  border: 0;
  outline: 0;
}

.nextbidding-btn {
  height: 34px;
  width: 205px;
  padding: 5px 16px;
  font-size: 1.3em;
  border-radius: 20px;
  color: #fff;
  background-color: #f32e6d;
  margin: 20px 0px 0px 364px;
  border: 0;
  outline: 0;
}

.black {
  margin-left: 1px;
  font-size: 1.2em;
  display: inline;
}

.photodesine {
  height: 24px;
  margin-left: 30px;
  display: inline;
}

#next-share>.next-photo {
  margin-left: 8px;
  margin-top: 8px;
  display: inline;
}

.next-bidlist {
  margin-top: 22%;
}

.jscroll-added {
  margin-bottom: 5%;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #f32e6d;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #f32e6d;
  opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #f32e6d;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #f32e6d;
}