@CHARSET "UTF-8";

@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css"); 
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: small;
 
}
.body-contents {
	width: 70%;
	margin: 0px auto;
}
body>.container {
  width: 960px;
  margin: auto;
}

li {
	text-align: center !important;
}

.searcha:hover {
	cursor: pointer;
	color: black !important;
}

.tasha:hover {
	cursor: pointer;
	color: black !important;
}

.container>h1 {
  padding: 60px 0 20px 15px;
}
.body-contents {
	display:inline-block;
}
#bodycon-title {
	font-size:2em; 
	padding-left:108px; 
	margin-top:20px; 
	font-weight: bold; 
	display:inline-block;
}
.tabbable-line > ul {
	padding-left:223px; 
	margin-top:-52px !important;
}

.title {
  text-align: center;
}

.btn {
  background-color: rgba(0, 0, 0, 0.44);
  color: #fff;
  float: left;
}
#favorite-bodysolid:hover {
	border:2px solid red;
	}
	
#favorite-bodysolid2:hover {
	border:2px solid red;
	}
	
.btn:hover, .btn:focus {
  color: #fff;
}

.account-delete {
  float: right;
}

#icon-camera-alt:before {
  content: '\e805';
  font-family: fontello;
  font-size: 1.4em;
  display: block;
  color: #000;
}

.image-upload {
  position: absolute;
  top: 19.5%;
  width: 150px;
  height: 199px;
  opacity: 0;
}

.user-detail {
  margin: 46px auto;
  border-top: 2px solid #9e9e9e;
  position: relative;
}

.dl-horizontal {
  border-bottom: 2px solid gainsboro;
  margin-bottom: 0px;
}

.desc {
  margin-left: 20px !important;
  padding-top: 10px;
}


.text {
  font-size: 1.2em;
  font-weight: normal;
  float: right;
  margin-top: 4px;
  margin-left: 10px;
}

.dash {
  line-height: 28px;
  font-size: 2em;
}

/* Tabs panel */
.tabbable-panel {
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  font-size:17px;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  /* position: relative; */
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

#favorite-bidding>.favorite-title>span {
  display: inline-block;
  position: absolute;
  margin-top: 120px;
  margin-left: -33px;
  font-size: 2.5em;
  font-weight: bold;
}

.blogShort{ border-bottom:1px solid rgb(243, 46, 109);}

.nav-sidebar { 
    width: 10%;
    padding: 23px 0; 
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}

.nav-sidebar .active a { 
    cursor: default;
    background-color: #f32e6d !important; 
    color: #fff; 
}
.nav-sidebar .active a:hover {
    background-color:#E50000;   
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

.btn-blog {
    color: rgb(243, 46, 109);
    background-color: #E50000;
    border-color: #E50000;
    border-radius:0;
    margin-bottom:10px
}
.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
    color: white;
    background-color:#0b56a8;
    border-color: #0b56a8;
}
article h2{color:#333333;}
h2{color:#0b56a8;}
 .margin10{margin-bottom:10px; margin-right:10px;}
 
 .container .text-style
{
  text-align: justify;
  line-height: 23px;
  margin: 0 13px 0 0;
  font-size: 19px;
}

figure.snip1205 {
  color: #fff;
  position: relative;
  float: left;
  margin: 10px 0 0 0;
  min-width: 310px -60px;
  max-width: 310px;
  width: 100%;
  color: #000000;
  text-align: left;
  background-color: #ffffff;
  font-size: 16px;
}
figure.snip1205 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.1s ease-in-out;
}

figure.snip1205 > .col-xs-12 {
 position: absolute;
  bottom: 0px;
  right: 15px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  font-size: 3em;
  line-height: 1em;
  opacity: 0;
  -webkit-transition: all 0.1s cubic-bezier(0.6, -0.8, 0.735, 0.045);
  transition: all 0.1s cubic-bezier(0.6, -0.8, 0.735, 0.045);
}
.snip1205:before,
.snip1205:after,
.snip1205 a:before,
.snip1205 a:after {
  position: absolute;
  content: '';
  background-color: #ffffff;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0.8;
}
.snip1205:before,
.snip1205:after {
  height: 1px;
  width: 0%;
}
.snip1205:before {
  top: 0;
  left: 0;
}
.snip1205:after {
  bottom: 0;
  right: 0;
}
.snip1205:hover .carbox,
.snip1205.hover .carbox{
  opacity: 0.25;
}


.snip1205:hover a:before,
.snip1205.hover a:before,
.snip1205:hover a:after,
.snip1205.hover a:after {
  height: 100%;
}
.snip1205:hover i,
.snip1205.hover i {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 0.7;
}
.snip1205:hover:before,
.snip1205.hover:before,
.snip1205:hover:after,
.snip1205.hover:after {
  width: 100%;
}
.snip1205:hover:before,
.snip1205.hover:before,
.snip1205:hover:after,
.snip1205.hover:after,
.snip1205:hover a:before,
.snip1205.hover a:before,
.snip1205:hover a:after,
.snip1205.hover a:after {
  opacity: 0.1;
}


.edit {
	position: absolute;
	width: 100px;
	height: 50px;
	left: 100px;
	top: 205px;
	z-index:100;
	font-size: xx-large;
	display:none;
}


.shadow-div {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index:100;
	font-size: xx-large;
	opacity: 0.4;
	-webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.glyphicon.glyphicon-trash {
 margin-left:24px;
}

/* .glyphicon.glyphicon-zoom-in {
margin-left:13px;
} */

.tasha:HOVER {
	cursor: pointer;
}





/*nextlist*/
.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container-big {
   width:960px !important;
   margin:auto;
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}

h1.heading {
  font-size: 3em;
  font-weight: 900;
  margin-bottom: 25px;
}

.carbox {
  margin-bottom: 20px;
  border-radius: 9px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  transition: box-shadow .25s;
  cursor: pointer;
}

.img-carbox {
  /* width: 100%; */
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
  overflow: hidden;
}

.img-carbox img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
}

.carbox-content {
  padding:15px;
  text-align:left;
}

.carbox-title {
  font-weight: 700;
  font-size: 1.3em;
  text-align: center;
}

.carbox-title a {
  color: #000;
  text-decoration: none !important;
}

.carbox-read-more {
  text-decoration: none !important;
  padding-top: 10px;
  font-weight: 900;
  font-size: 2.5em;
  color: #f32e6d;
}

.carousel-inner {
  cursor: pointer;
}

.next-bid-photos {
  padding: 9px;
  height: 48%;
}

.next-bidlist > .container {
  padding-left: 0px;
}


.next-bid-photos > .carousel-indicators {
  margin-bottom: 0px;
  bottom: 10px;
}

.next-horizontal {
  margin-bottom: 0px;
}

.stp-text {
  margin-right: 29px;
}

.st-text {
  margin-right: 11px;
}

.carousel-indicators > li {
  border: 1px solid #c4c5c8;
}

.item > img {
  height: 280px !important;
  width: 100%;
  object-fit: contain;
}

.pinktext {
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 12px;
    margin-top: 12px;
    display: inline-block;
}

.black {
    margin-left: 0px;
    font-size: 1.15em;
    display: inline;
}


/* .carousel-indicators > .active{
  width: 15px;
  height: 15px;
  margin-bottom: -1px;
} */

/* .nb-imgs > .item {
  padding: 6%;
}
 */
.start_num {
  font-size: 1.5em;
}

.pink-num {
  font-size:1.5em;
  font-weight: bold;
}

.dl-horizontal > dt.pinkprice {
  font-size:2.2em;
  margin-top:10px;
  margin-right: 50px;
  width: 174px;
}

#on-air-text {
  font-size: 2.0em;
  margin-top: 20px;
}

#on-air-text2 {
  font-size: 2.0em;
  margin-top: 20px;
  color:#e74c3c;
}

#nb-countdown {
  display:inline-block;
  font-weight: bold;
  font-size: 5em;
  margin-top: 20px;
  color:#f32e6d;
}

#remains {
  display:inline-block;
  font-weight: bold;
  font-size: 5em;
  margin-top: 20px;
  color:#f32e6d;
}

#bidding {
  margin-left: 27px;
}

.successful-bidder-img {
  width: 64px;
  height: 64px;
  /* position: relative; */
}

.title {
  text-align:center;
  margin-bottom: 21px;
}

.bidder-img {
  width: 26px;
  height: 26px;
}

.successful-bidder {
  font-size: 1.6em;
  position: relative;
  top: 5px;
  display: inline-block;
  width: 117px;
}

.present_num2 {
  font-size: 2.5em;
  font-weight: bold;
  color: #f32e6d;
  position: relative;
  top: 9px;
  float: right;
}

.bidder {
  position: relative;
  top: 1px;
  font-size: 1.4em;
  display: inline-block;
  width: 111px;
}

.bid-time {
  position: relative;
  font-size: 1.4em;
  display: inline-block;
  width: 87px;
}

.bid-won {
  font-size: 1.4em;
}

.won1 {
  top: 32px;
  font-size: 1.2em;
  position: relative;
  float: right;
}

.desc-line1 {
  display: none;
}

.bids-empty {
  font-size: 2em;
  display: inline-block;
}

.icon-exclamation:before {
  content: '\e80a';
  font-family: fontello;
  font-size: 2em;
}

.icon-exclamation {
  margin-left: 18px;
}

.desc-non-record {
  display: none;
  padding: 227px 35px 227px 44px;
}

.sweet-alert .sa-icon.sa-warning {
  border-color: #f32e6d;
}

.sweet-alert .sa-icon.sa-warning .sa-body {
  background-color: #f32e6d;
}

.sa-button-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

.sa-button-container .cancel {
  -webkit-order: 2;
  order: 2;
}

.sa-button-container .sa-confirm-button-container {
  -webkit-order: 1;
  order: 1;
}

