@CHARSET "UTF-8";

.container {
    position: absolute;
    left: 50%;
    top: 53%;
    margin-left: -479px !important;
    margin-top: -280px !important;
}

.container>h1 {
    margin-bottom: 50px;
}

.dl-horizontal {
    border-bottom: 2px solid gainsboro;
    margin-bottom: 0px;
}

.term {
    text-align: left !important;
    width: 122px !important;
    font-size: 1.3em;
    padding: 3.4%;
}

.desc {
    margin-left: 122px !important;
    padding-top: 9px;
}

.destination {
    position: relative;
    width: 45%;
    display: inline-block;
    margin-right: 5%;
}

.term-bgc {
    BACKGROUND-COLOR: #ffe4ed;
    width: 27%;
    height: 87%;
    position: absolute;
    top: 43px;
    z-index: -1;
}

.addr-find {
    margin-left: 16px;
}

.btn {
    background-color: rgba(0, 0, 0, 0.44);
    color: #fff;
    float: left;
}

#zip-code {
    text-align: center;
}

.form-control[readonly] {
    background-color: #fff;
}

input[type=text] {
  margin-bottom: 8px;
}

.product-information {display: inline-block;width: 45%;position: relative;}

.sub-text {
  border-bottom: 2px solid #9e9e9e;
  padding-bottom: 12px;
  margin-bottom: 0px;
}

#product-img {width: 60px;height: 60px;position: absolute;top: 55px;right: 348px;}