@CHARSET "UTF-8";
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

  a {
    color:black;
    text-decoration:none;
  }
  
  a:hover {
    color: red;
    text-decoration:none;
  }
  
  div.header1 {
    border-radius: 15px;
    border:1px solid black; 
    width:750px; 
    margin-left:10px;
  }
  
  div.inside {
    display:table; 
    width:750px;
  }
  
  div.category {
    display:inline-block;
    width:43px;
    margin-left: 15px;
  }
  
  div.category1 {
    display:inline-block;
    width:53px;
    margin-left: 15px;
  }
  
  div.category:hover {
    background-color: red;
    color: blue;
  }
  
  div.category1:hover {
    background-color: red;
    color: blue;
  }
  
  div.next-pro-first {
    padding-left: 15px;
  }
  
  div.next-prd-sty {
    padding-left: 15px; 
    padding-bottom: 20px; 
    display:inline-block;
  }
  
  div.next-product {
    border:1px solid black;  
    display:inline-block; 
    width:230px; 
    height:250px;  
    padding-left:7px;
    padding-top:5px;
    box-shadow: 5px 5px 5px 5px gray;
  }
  
  hr {
    margin: 2px;
  }
  
  hr.commit {
    margin: 10px;
  }
  
  img.img-state {
	  width:40px; 
	  padding-top: 1px; 
	  padding-left: 2px;
  }
  
  img.img-state1 {
    width:47px; 
    padding-top: 1px; 
    padding-left: 6px;
  }
  
  img.next-product {
    padding-left:9px; 
    height:130px; 
    width:200px;
  }
  
  span.cate {
    font-size:18px; 
    font-family: 맑은고딕; 
    padding-left: 4px;
  }
  
  span.cate1 {
    font-size:17px; 
    font-family: 맑은고딕; 
  }
  
  span.title {
    border-radius: 15px 0 0 0;
    background-color: #D3D3D3;
    font-family:맑은고딕; 
    font-size: 35px; 
    display:table-cell; 
    vertical-align:middle;
    width:150px;
  }
  
  span.title1 {
    background-color: #D3D3D3; 
    font-family:맑은고딕; 
    font-size: 35px; 
    display:table-cell; 
    text-align: center;
    vertical-align:middle;
    width:150px;
  }
  
  span.title2 {
    border-radius: 0 0 0 15px;
    background-color: #D3D3D3; 
    font-family:맑은고딕; 
    font-size: 35px; 
    display:table-cell; 
    text-align: center;
    vertical-align:middle;
    width:150px;
  }
  
  span.next-product {
    padding-left: 5px; 
    font-family: 맑은고딕; 
    font-size:20px;
    vertical-align:middle;
  }
  
  span.next-product1 {
    padding-left: 5px; 
    font-family: 맑은고딕; 
    font-size:20px;
    color:red;
  }
  
  span.next-product2 {
    padding-left: 5px; 
    font-family: 맑은고딕; 
    font-size:20px;
    vertical-align:middle;
    display:inline-block; 
    margin-top: 15px;
  }
  
  span.next-product3 {
    display:inline-block; 
    vertical-align:middle; 
    margin: 6px 0 0 10px;
  }
  
  span.next-product4 {
    display:inline-block; 
    vertical-align:middle; 
    margin: 8px 0 0 2px;
  }
  
  input.content {
    display:inline-block; 
    margin: 15px 0 0 15px; 
    vertical-align:middle; 
    width: 15px; 
    height: 15px;
  }
  
  .a {
    font-size: 25px;
  }
  
  
  
  